* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #e5e5e5;
  transform: scale(0.75);
}

.first-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 480px;
}

.row-container {
  position: relative;
  display: flex;
  margin-top: 65px;
  left: 15px;
}

.docker {
  display: flex;
  position: relative;
  top: 35px;
  width: 540px;
  height: 230px;
  background-color: #ffff;

  .text {
    margin: 83px 0 0 70px;
    h4 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      line-height: 16.41px;
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      width: 236px;
      margin-top: 15px;
    }
  }
  .numbers {
    position: absolute;
    right: 0px;

    margin: 40px 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    opacity: 0.5;
  }
  .navigation-buttons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95px;
    height: 55px;
    bottom: 0px;
    right: 0px;
    margin: 40px 40px;

    .bg-color {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: #d66892;
      cursor: pointer;
    }

    .last-svg {
      transform: rotate(180deg);
      color: #ffff;
    }
  }
}

.share-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 502px;
  height: 153px;
  background: #303864;
}

.counter {
  display: flex;
  align-items: center;
  margin-left: 40px;

  span {
    position: relative;
    display: flex;
    color: #ffff;
    font-size: 27px;
    line-height: 31.64px;
    font-weight: 900;
    left: 5px;
  }
}
.share {
  position: absolute;
  right: 100px;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  color: #ffff;

  text-transform: uppercase;
}
.arrow-section {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 154px;
  background: #f4d16e;
  cursor: pointer;
}

.light {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffff;
  width: 153px;
  height: 153px;
  left: 45px;
  cursor: pointer;
}

.get-started {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 257px;
  height: 257px;
  margin-left: 165px;
  background-color: #d66892;
  color: #ffff;
  cursor: pointer;
  p {
    font-weight: 400;
    font-size: 20px;
  }
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 498px;
  height: 441px;
  background: #ffff;
  margin-top: 30px;
  margin-left: 70px;
  .text {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 260px;
    flex-grow: 1;

    p:first-child {
      font-size: 14px;
      font-weight: 700;
      line-height: 16.41px;
    }
    p:last-child {
      font-size: 20px;
      font-weight: 400;
      line-height: 27px;
      margin-top: 15px;
    }
  }
  .link-icons {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .icons {
      display: flex;
      position: relative;
      margin-left: 80px;
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 114px;
      height: 114px;
      background-color: #d66892;
      cursor: pointer;
    }
  }
}

.container1 {
  display: flex;
  width: 100%;
  margin-top: -65px;
}
.footer-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 85%;
  margin-top: 30px;
}
.subscribe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 702px;
  height: 404px;
  background: #ffff;
  .content {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    right: 82px;
  }

  .section {
    p:first-child {
      font-size: 14px;
      font-weight: 700;
      line-height: 16.41px;
    }
    p {
      font-size: 18px;
      line-height: 27px;
    }
  }

  .section2 {
    margin-left: 30px;
    p:first-child {
      font-size: 14px;
      font-weight: 700;
      line-height: 16.41px;
    }
    p {
      font-size: 18px;
      line-height: 27px;
    }
  }

  .subscribe-button {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    width: 100%;
    height: 114px;
    background: #303864;
    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 23.44px;
      color: #ffff;
    }
    .last-button {
      display: flex;
      width: 114px;
      height: 114px;
      position: absolute;
      align-items: center;
      justify-content: center;
      background-color: #f4d16e;
      right: 0px;
      cursor: pointer;
    }
  }
}
