* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #e5e5e5;
}

.first-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
  height: 480px;
}

.row-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
  left: 15px;
}

.docker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 35px;
  width: 540px;
  height: 230px;
  background-color: #ffff;
}

.docker .text {
  margin: 83px 0 0 70px;
}

.docker .text h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
}

.docker .text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  width: 236px;
  margin-top: 15px;
}

.docker .numbers {
  position: absolute;
  right: 0px;
  margin: 40px 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  opacity: 0.5;
}

.docker .navigation-buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95px;
  height: 55px;
  bottom: 0px;
  right: 0px;
  margin: 40px 40px;
}

.docker .navigation-buttons .bg-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #d66892;
}

.docker .navigation-buttons .last-svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #ffff;
}

.share-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 502px;
  height: 153px;
  background: #303864;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

.counter span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffff;
  font-size: 27px;
  line-height: 31.64px;
  font-weight: 900;
  left: 5px;
}

.share {
  position: absolute;
  right: 100px;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  color: #ffff;
  text-transform: uppercase;
}

.arrow-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 83px;
  height: 154px;
  background: #f4d16e;
}

.light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #ffff;
  width: 153px;
  height: 153px;
  left: 45px;
}

.get-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 257px;
  height: 257px;
  background-color: #d66892;
  color: #ffff;
}

.get-started p {
  font-weight: 400;
  font-size: 20px;
}

.post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 498px;
  height: 441px;
  background: #ffff;
  margin-top: 30px;
  margin-left: 90px;
}

.post-container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.post-container .text p:first-child {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
}

.post-container .text p:last-child {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 15px;
}

.post-container .link-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post-container .link-icons .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: 110px;
}

.post-container .link-icons .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 114px;
  height: 114px;
  background-color: #d66892;
}
/*# sourceMappingURL=style.css.map */